<html>
    <header >
        <nav class="mainnav">
            <a class="anav" routerLink="">Home</a>
            <a class="anav" routerLink="/products">Products</a>
            <a class="anav" routerLink="/user">Users</a>
            <a class="anav" routerLink="/post">Posts</a>
            <a class="anav" routerLink="/register">Register</a>
            <a class="anav" routerLink="/login">Login</a>
        </nav>
        <p id="p1">{{ username }}</p> 
     </header>
     
<body>
    
</body>

</html>