body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 50px; /* Set your desired height */
    position: fixed;
    bottom: 0;
    color: azure;
    width: 100%;
}
