#imgg{
    width: 80px;
    height: auto;
   
}
.divtable{
    margin: 40px;
    padding: 8px;
  border: 1px solid #252525;
  border-radius: 7px;
  overflow: hidden; 
}

table{
    width: 100%;
    border-collapse: collapse;
}
